[MASTER]
disable=
  C0114, # missing-module-docstring
  C0115, # missing-class-docstring
  C0116, # missing-function-docstring
  C0209, # consider-using-f-string
  C0411, # wrong-import-order

[FORMAT]
max-line-length = 120

[MESSAGES CONTROL]
disable = locally-disabled

[DESIGN]
# Seven attributes (data chunks) on a class seems like an arbitrarily low number.
max-attributes = 13
